body{

    background-color: white;
    /*ola */
    color : red;
}

/*cor do fundo*/
body {
    background-color: wheat;
}

/*Eleve seu negocio digital a outro nivel com front-end de qualidade*/
h1{
    color: white;
}

button{
    background-color: blueviolet;
    color: blueviolet;
}

head{
    background-color: blueviolet;
    color: blueviolet;
}

